<!-- jinja -->
{% if template_data %}
{% set status_colors = {
    'Partially Completed': 'red',
    
    'Fully Completed': 'green',
   
} %}
<div class="custom-form-tabs-list" style="justify-content: flex-end;">  
    <div style="padding: 10px;">
        <button id="add_mintenance_button" data-label="add-mintenance" class="btn btn-primary btn-sm hidden" style="padding: 2px 8px;border-radius: 6px;">
            <div style="padding: 0px 6px;">
                {{ _('Add Maintenance Visit') }} 
            </div>
        </button>
    </div>
</div>
<div class="section-body">
    <div class="frappe-list">
        <header class="level list-row-head text-muted">
            <div class="level-left list-header-subject">
                <div class="col-sm-5 ellipsis hidden-xs">
                    <span>{{ _('ID') }} </span>
                </div>
                <div class="col-sm-2 ellipsis hidden-xs">
                    <span>{{ _('Type') }} </span>
                </div>
                <div class="col-sm-3 ellipsis hidden-xs">
                    <span> {{ _('Status') }} </span>
                </div>               
                <div class="col-sm-2 ellipsis hidden-xs">
                    <span>{{ _('Date') }}  </span>
                </div>
            </div>
        </header>
     
    </div>
   
</div>

        
                {% if template_data|length>0 %}
                
                {% for rec in template_data.data %}
                {% set color = status_colors.get(rec.completion_status, 'gray') %}
                <div class="list-row-container">
                    <div class="level list-row">
                        <div class="col-sm-5 ellipsis hidden-xs">
                            <span class="ellipsis">
                                <a class="filterable ellipsis" target="_blank" href="/app/maintenance-visit/{{ rec.name}}">
                                    {{rec.name}}
                                </a>
                                
                            </span>
                        </div>
                        <div class="col-sm-2 ellipsis hidden-xs">
                            <span>{{  _(rec.maintenance_type)}}</span>
                        </div>
                        
                        <div class="col-sm-3 ellipsis hidden-xs">
                            <span class="indicator-pill no-indicator-dot whitespace-nowrap  {{ color }}">{{ _(rec.completion_status)}}</span>
                        </div>
                     
                        <div class="col-sm-2 ellipsis hidden-xs">
                            <span>{{ frappe.utils.pretty_date(rec.creation) }} </span>
                        </div>
                    </div>
                </div>
                {% endfor %}   
{% endif %}
{% endif %}