.page-wrapper{
    width: 100%;
}
.custom-page-body{
    
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    
    /*overflow: hidden;*/
   
    flex-wrap: wrap;
    padding: 5px !important;
    width: calc(100vw - 14px) !important;
    max-width: calc(100vw - 14px) !important;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: calc(-50vw + 5px);
    margin-right: calc(-50vw + 5px);
}
.form-section .section-head, .form-dashboard-section .section-head {
    font-size:14px;
}

.popup_notes_container{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 4px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #ededed;
}
.popup_notes_note{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: static;
    background-color: #fffcef;
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 10px;
}
.popup_notes_text{
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    line-height: 1.4;
    min-width: 10px;
    position: static;
    color: #383838;
}

.tab-pane{
    min-height: 560px;
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12{
    padding-left: 10px;
    padding-right: 10px;
}

.list-row-container{
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #ededed;
}
.side_panel{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    overflow: hidden;
    position: static;
    flex-grow: 0;
    max-width: 20%;
    padding:6px;
    width: 100%;
}

.main_panel{
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 15px;
    left: auto;
    max-width: 100%;
    overflow: hidden;
    padding: 6px;
    position: static;
    top: auto;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
}

.main_panel .content_description{
    display: flex;
    flex-direction: column;
}

.main_section{
    border-radius: 10px;
    border: 1px solid #ededed;
    box-shadow: none;
}

.custom-form-tabs-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--card-bg);
    z-index: 5;
    transition: 0.5s top;
    padding-left: var(--padding-xs);
    border-bottom: 1px solid var(--border-color);
    border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;
}
.custom-form-tabs-list .custom-form-tabs {
    flex-wrap: nowrap;
    overflow: overlay;
    align-items: center;
}
.custom-form-tabs-list .custom-form-tabs .custom-nav-item {
    white-space: nowrap;
    font-size: var(--text-base);
    font-weight: var(--weight-regular);
    letter-spacing: 0.02em;
}
.custom-form-tabs-list .custom-form-tabs .custom-nav-item .custom-nav-link.active {
    font-weight: 600;
    border-bottom: 1px solid var(--primary);
    color: var(--text-color);
}
.custom-form-tabs-list .custom-form-tabs .custom-nav-item .custom-nav-link {
    color: var(--text-muted);
    padding: 10px 0;
    margin: 0 var(--margin-md);
    background-color: var(--card-bg);
    border: 0;
}

.info_list{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
}
.info_button{
    flex-shrink: 0;
    transition: all 0.1s ease-out;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: center;
    width: fit-content;
}


.section {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding: 6px;
}
.section_header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #efefef;
    margin: 0px 0px 4px 0px;
    padding: 6px;
    border-radius: 2px;
    background: #f5f5f5;
}

.main_section_header {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #efefef;
    margin: 0px 0px 4px 0px;
    padding: 6px;
    border-radius: 2px;
}

.nav-link {
    padding: 5px 5px !important;
}


.section-body {
    margin-top: 10px !important;
}
.section_title{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    position: relative;
    gap: 4px;
}
.section_title .title{
    font-size: 14px;
    width: fit-content;
    height: fit-content;
    line-height: 1.4;
    min-width: 10px;
    position: static;
    color: #383838;
    font-weight: 600;
}
.section_title .count{
    font-size: 12px;
    width: fit-content;
    height: fit-content;
    line-height: 1.4;
    min-width: 10px;
    position: static;
    color: #383838;
    font-weight: 420;
}
.section_action .button_link {
    flex-shrink: 0;
    transition: all 0.1s ease-out;
    align-items: center;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 18px;
    justify-content: center;
    width: 18px;
    background-color: #daf0e1;
    padding: 4px;
    overflow-x: hidden;
    overflow-y: hidden;
    text-decoration: none;
}
.section_action .button_link:hover{
    background: #16794c;
    
}
.section_action .button_link:hover .button_text{
    color: #daf0e1;
}
.section_action .button_link .button_text{
    color: #16794c;
    font-size: 14px;
    font-weight: 420;
    height: fit-content;
    left: auto;
    letter-spacing: 0.28px;
    line-height: 115%;
    position: static;
    top: auto;
    width: fit-content;
}

.section_content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0px;
}
.side_panel .section_content .content_row{   
    flex-direction: column;
}
.main_panel .section_content .content_row{
    flex-direction: row;
}
.section_content .content_row{
    display: flex;
    flex-shrink: 0;
    height: fit-content;
    overflow: hidden;
    position: relative;
    padding: 0px 6px;
    width: 100%;
    margin: 10px 0px 0px 0px;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #efefef;
}
.section_content .content_row .row_text{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0px 0px 6px 0px;
    align-items: center;
    font-size: 13px;
    line-height: 1.2;
}
.section_content .content_row .content_title{
    font-weight: 600;
}

.section_footer{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 4px;
    align-items: center;
    margin: 0px 0px 10px 0px;
    padding: 6px;
    
}

.section_footer .footer_row{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    position: relative;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
}

.section_footer .footer_row .footer_text{
    font-size: 11px;
    width: fit-content;
    height: fit-content;
    line-height: 1.4;
    min-width: 10px;
    position: static;
}

.text_allign_right{
    justify-content: flex-end !important;
}
.footer_text a{
        color: #3265e6;
}